header{
	display:block;
}

#header-padding{
	margin-top:60px;
}

.navbar-default{
	background-color:#fff;
}

.navbar-fixed-top{
	border-radius: 0;
	position:realtive;

}

.notification-header-bar{

	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	position:absolute;
	max-width:500px;
}

.notification-header-bar > .alert{
	/*padding:10px;*/
	margin-bottom:0px;
	border-radius: 0px;
	border:none;
	text-align: center;
}

#logout-btn{
	margin-top:7px;
}