header{
	display:block;
}

#header-padding{
	margin-top:60px;
}

.navbar-fixed-top{
	border-radius: 0;
	position:realtive;
}

.notification-header-bar{
	margin:0 auto;
	position:absolute;
	left:50%;
}