<div class="panel panel-info" ng-controller="webpropertiesAddCtrl">
  <!-- Default panel contents -->
  <div class="panel-heading">Add Web Property</div>
  <div class="panel-body">
    <!-- start form -->
    <form role="form" name="propAddForm" novalidate>
		  <div class="form-group" 
		  	ng-class="{'has-error': propAddForm.name.$invalid && propAddForm.name.$dirty}">
		    <label for="name">Name</label>
		    <span class="label label-danger pull-right" ng-show="propAddForm.name.$error.required && propAddForm.name.$dirty">Required</span>
		    <input type="text" class="form-control" name="name" placeholder="Name" required ng-model="prop.name">
		  </div>
		  <div class="form-group" ng-class="{'has-error': propAddForm.url.$invalid && propAddForm.url.$dirty}">
		    <label for="url">URL</label>
		    <span class="label label-danger pull-right" ng-show="propAddForm.url.$error.required && propAddForm.url.$dirty">Required</span>
		    <input type="url" class="form-control" name="url" placeholder="http://www.mydomain.com" required ng-model="prop.url">
		  </div>
		  <button type="submit" class="btn btn-success" ng-click="createWebproperty()" ng-disabled="propAddForm.$invalid">Add</button>
		</form>
<!-- end form -->
  </div>
</div>