<div class="panel panel-default" ng-controller="webpropertiesEditCtrl">
  <!-- Default panel contents -->
  <div class="panel-heading">Edit Web Property</div>
  <div class="panel-body">
    <!-- start form -->
    <form role="form" name="propEditForm" novalidate>
		  <div class="form-group" ng-class="{'has-error': propEditForm.username.$invalid && propEditForm.name.$dirty}">
		    <label for="username">Name</label>
		    <span class="label label-danger pull-right" ng-show="propEditForm.username.$error.required && propEditForm.username.$dirty">Required</span>
		    <input type="text" class="form-control" name="name" placeholder="Name" required ng-model="tmpWebproperty.name">
		  </div>
		  <div class="form-group" ng-class="{'has-error': propEditForm.password.$invalid && propEditForm.password.$dirty}">
		    <label for="url">URL</label>
		    <span class="label label-danger pull-right" ng-show="propEditForm.password.$error.required && propEditForm.password.$dirty">Required</span>
		    <input type="url" class="form-control" name="url" placeholder="http://www.mydomain.com" required ng-model="tmpWebproperty.url">
		  </div>
		  <button type="submit" class="btn btn-success" ng-click="editSubmit()" ng-disabled="propEditForm.$invalid || propEditForm.$pristine">Edit</button>
		  <button type="submit" class="btn btn-danger" ng-click="delProp()">Delete</button>
		</form>
<!-- end form -->
  </div>
</div>