<div class="panel panel-primary" ng-controller="webpropertiesListCtrl">
  <!-- Default panel contents -->
  <div class="panel-heading">
    Web Properties
    <button class="btn btn-success pull-right btn-xs" 
      ng-click="addRoute()">
      Create
    </button>
  </div>
  <ul class="list-group">
    <li class="list-group-item"
    		ng-repeat="prop in WebPropertiesService.webproperties">
    		<a ng-click="WebPropertiesService.selectWebproperty($index)">
    			{{prop.name}}
    		</a>
    		<span class="badge">
    			<span class="glyphicon glyphicon-wrench"
    						ng-click="editWebproperty($index)"
    			></span>
    		</span>
    </li>
  </ul>
</div>
