<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Edit</div>
  <div class="panel-body">
    <!-- start form -->
    <form role="form" name="expEditForm" novalidate>
		  <div class="form-group" ng-class="{'has-error': expEditForm.name.$invalid && expEditForm.name.$dirty}">
		    <label for="name">Name</label>
		    <span class="label label-danger pull-right" ng-show="expEditForm.name.$error.required && expEditForm.name.$dirty">Required</span>
		    <input type="text" class="form-control" name="name" placeholder="Name" required ng-model="tmp.name">
		  </div>
		  <div class="form-group" ng-class="{'has-error': expEditForm.start.$invalid && expEditForm.start.$dirty}">
		    <label for="start">Code</label>
		    <span class="label label-danger pull-right" ng-show="expEditForm.start.$error.required && expEditForm.start.$dirty">Required</span>
		    <textarea editor class="form-control" name="code" placeholder="return true;" required ng-model="tmp.code"></textarea>
		  </div>
		  <button class="btn btn-success" 
		  	ng-click="editExperience()" 
		  	ng-disabled="expEditForm.$invalid || expEditForm.$pristine">
		  	Save
		  </button>
		  <button class="btn btn-danger" ng-click="delExperience()">Delete</button>
		</form>
<!-- end form -->
  </div>
</div>