<div class="panel panel-default" ng-controller="campaignsEditCtrl">
  <!-- Default panel contents -->
  <div class="panel-heading">Edit</div>
  <div class="panel-body">
    <!-- start form -->
    <form role="form" name="campaignAddForm" novalidate>
		  <div class="form-group" ng-class="{'has-error': campaignAddForm.name.$invalid && campaignAddForm.name.$dirty}">
		    <label for="name">Name</label>
		    <span class="label label-danger pull-right" ng-show="campaignAddForm.name.$error.required && campaignAddForm.name.$dirty">Required</span>
		    <input type="text" class="form-control" name="name" placeholder="Name" required ng-model="tmp.name">
		  </div>
		  <div class="form-group" ng-class="{'has-error': campaignAddForm.start.$invalid && campaignAddForm.start.$dirty}">
		    <label for="start">Start</label>
		    <span class="label label-danger pull-right" ng-show="campaignAddForm.start.$error.required && campaignAddForm.start.$dirty">Required</span>
		    <textarea class="form-control" name="start" placeholder="return true;" required ng-model="tmp.start"></textarea>
		  </div>
		  
		  <div class="form-group" ng-class="{'has-error': campaignAddForm.success.$invalid && campaignAddForm.success.$dirty}">
		    <label for="success">Success</label>
		    <span class="label label-danger pull-right" ng-show="campaignAddForm.success.$error.required && campaignAddForm.success.$dirty">Required</span>
		    <textarea class="form-control" name="success" placeholder="return true;" required ng-model="tmp.success"></textarea>
		  </div>
		  <button type="submit" class="btn btn-default" ng-click="(campaignAddForm)" ng-disable="{campaignAddForm.$valid && campaignAddForm.$dirty}">Add</button>
		</form>
<!-- end form -->
  </div>
</div>