<div class="panel panel-default" ng-controller="campaignsEditCtrl">
  <!-- Default panel contents -->
  <div class="panel-heading">Edit</div>
  <div class="panel-body">
    <!-- start form -->
    <form role="form" name="campaignEditForm" novalidate>
		  <div class="form-group" ng-class="{'has-error': campaignEditForm.name.$invalid && campaignEditForm.name.$dirty}">
		    <label for="name">Name</label>
		    <span class="label label-danger pull-right" ng-show="campaignEditForm.name.$error.required && campaignEditForm.name.$dirty">Required</span>
		    <input type="text" class="form-control" name="name" placeholder="Name" required ng-model="tmp.name">
		  </div>
		  <div class="form-group" ng-class="{'has-error': campaignEditForm.start.$invalid && campaignEditForm.start.$dirty}">
		    <label for="start">Start</label>
		    <span class="label label-danger pull-right" ng-show="campaignEditForm.start.$error.required && campaignEditForm.start.$dirty">Required</span>
		    <textarea editor class="form-control" name="start" placeholder="return true;" required ng-model="tmp.start"></textarea>
		  </div>
		  
		  <div class="form-group" ng-class="{'has-error': campaignEditForm.success.$invalid && campaignEditForm.success.$dirty}">
		    <label for="success">Success</label>
		    <span class="label label-danger pull-right" ng-show="campaignEditForm.success.$error.required && campaignEditForm.success.$dirty">Required</span>
		    <textarea editor class="form-control" name="success" placeholder="return true;" required ng-model="tmp.success"></textarea>
		  </div>
		  <button type="submit" class="btn btn-success" ng-click="editCampaign()" ng-disabled="campaignEditForm.$invalid || campaignEditForm.$pristine">Edit</button>
		  <button type="submit" class="btn btn-danger" ng-click="delCampaign()">Delete</button>
		</form>
<!-- end form -->
  </div>
</div>