<div class="panel panel-info" ng-controller="campaignsAddCtrl">
  <!-- Default panel contents -->
  <div class="panel-heading">Create new Campaign</div>
  <div class="panel-body">
    <div class="alert alert-info"><strong>Start and success functions must return a boolean value</strong>
    <br/>For example return window.location.href === "/"</div>
    <!-- start form -->
    <form role="form" name="campaignAddForm" novalidate>
		  <div class="form-group" ng-class="{'has-error': campaignAddForm.name.$invalid && campaignAddForm.name.$dirty}">
		    <label for="name">Name</label>
		    <span class="label label-danger pull-right" ng-show="campaignAddForm.name.$error.required && campaignAddForm.name.$dirty">Required</span>
		    <input type="text" class="form-control" name="name" placeholder="Name" required ng-model="camp.name">
		  </div>
		  <div class="form-group" ng-class="{'has-error': campaignAddForm.start.$invalid && campaignAddForm.start.$dirty}">
		    <label for="start">Start</label>
		    <span class="label label-danger pull-right" ng-show="campaignAddForm.start.$error.required && campaignAddForm.start.$dirty">Required</span>
		    <textarea editor class="form-control" name="start" required ng-model="camp.start" id="campaignStart"></textarea>
		  </div>
		  
		  <div class="form-group" ng-class="{'has-error': campaignAddForm.success.$invalid && campaignAddForm.success.$dirty}">
		    <label for="success">Success</label>
		    <span class="label label-danger pull-right" ng-show="campaignAddForm.success.$error.required && campaignAddForm.success.$dirty">Required</span>
		    <textarea editor name="success" required ng-model="camp.success"></textarea>
		  </div>
		  <button type="submit" class="btn btn-success" ng-click="createCampaign()" ng-disabled="campaignAddForm.$invalid">Add</button>
		</form>
<!-- end form -->
  </div>
</div>